body {
    font-size:14px;
}

.main-holder
{
    width:80%;
    height:auto;
    margin:20% 0;
}
.ul-main
{
    text-anchor:middle;
    font-weight:bold;
    font-size: 1.25em;
    height: 10%;
    list-style-type:none;
}
.ul-main li
{
    text-align:left;
    font-size: 1.25em;
    display:inline;
}
.ul-main input {
    width: 200px;
    height: 200px;
    background-image: url('../images/face_angel.png');
    background-repeat:no-repeat;
    background-position:center;
    vertical-align:bottom;
}


